<div class="table-container">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applySearch($event)"
      placeholder="Filter elements" />
  </mat-form-field>

  @if (store.loading()) {
  <mat-spinner></mat-spinner>
  } @else {
  <mat-table [dataSource]="store.filteredElements()">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        (click)="updateElement(element, 'position')"
        >{{ element.position }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        (click)="updateElement(element, 'name')"
        >{{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        (click)="updateElement(element, 'weight')"
        >{{ element.weight }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef>Symbol</mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        (click)="updateElement(element, 'symbol')"
        >{{ element.symbol }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  }
</div>
